{% extends 'base.html.twig' %}

{% block title %}News index{% endblock %}

{% block body %}
    <div class='container'>
        <h1>Articles</h1>

        <div class='d-flex'>
            <p>Signed in as <span>{{ app.session.get('role') }}</span>&nbsp</p>
            <a href="{{ path('logout') }}">Logout</a>
        </div>

        <div>
            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Picture</th>
                        <th>Created_at</th>
                        <th>Modified_at</th>
                        <th>actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for news in news %}
                    <tr>
                        <td>{{ news.id }}</td>
                        <td>{{ news.title }}</td>
                        <td>{{ news.description }}</td>
                        <td>{{ news.picture }}</td>
                        <td>{{ news.createdAt ? news.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                        <td>{{ news.modifiedAt ? news.modifiedAt|date('Y-m-d H:i:s') : '' }}</td>
                        <td>
                            <a href="{{ path('app_news_show', {'id': news.id}) }}">show</a>
                            <a href="{{ path('app_news_edit', {'id': news.id}) }}">edit</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="7">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <a href="{{ path('app_news_new') }}">Create new</a>
    </div>
{% endblock %}
